@charset "UTF-8";


body {
  background: #fffacd;
  font-family: #Meiryo;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;

}
button:hover{
  color: #ffa500;
}
a{
  color: #0404ff;
}
a:visited{
color: #ff69b4;
}


a:hover{
  color: #fccd05;
}
img{
  padding: 2px;
  border: 5px #fccd05;
}
.wrapper {
  margin: 0 auto;
}
div {
  max-width: 100%;
  marjin: 0 auto;
}
p {text-align:center; }

table {
  margin-left: auto;
  margin-right: auto;
}

li {
  
  margin: 0 auto;
  display: inline-block;
  align-items: flex-start;
}
